HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!eywa/src/main/**/build/
!eywa/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!eywa/src/main/**/bin/
!eywa/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!eywa/src/main/**/out/
!eywa/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Terraform ###
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
terraform.state*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store

### Secrets ###
.env
.env.local
secrets.json

