namespace              = "avatar-staging"
postgres_password      = "staging-db-password"
postgres_storage_size  = "20Gi"
argocd_domain          = "argocd.staging.avatar.com"
argocd_admin_password  = "admin123" # Change this!
argocd_version         = "9.4.16"
git_repo_url           = "https://github.com/Kislaci90/avatar.git"
git_token              = "" # Set via environment variable: TF_VAR_git_token
git_branch             = "main"
helm_path              = "infra/helm"
image_registry         = "docker.io"

